.fire-wrapper {
    position: relative;
}

.fire {
    margin-inline: auto;
    position: relative;
    width: 8rem;
    height: 20rem;
    filter: blur(1px) contrast(2);
}

.particle {
    position: absolute;
    bottom: 0;
    width: 8rem;
    aspect-ratio: 1/1;
    opacity: 0;
    border-radius: 50%;
    background: radial-gradient(#f50 30%, #f500 70%);
    animation: rise var(--animation-duration) linear infinite;
    mix-blend-mode: screen;
}

@keyframes rise {
    from {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }

    to {
        transform: translateY(-10rem) scale(0);
        opacity: 0;
    }
}

.wood-pile {
    --log-width: 10rem;
    position: absolute;
    width: var(--log-width);
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.wood {
    --log-angle: 20deg;
    position: absolute;
    height: 3rem;
    width: var(--log-width);
    background: rgb(59, 20, 20);
    border-radius: 99999px;
    box-shadow: 0 0 8px #0004;
}

.wood:nth-child(1) {
    rotate: var(--log-angle);
}
.wood:nth-child(2) {
    rotate: calc(var(--log-angle) * -1);
}
